In [34]:
import numpy as np 
import pandas as pd
import sklearn 
import matplotlib.pyplot as plt
%matplotlib inline
import math

In [17]:
from google.colab import files
uploaded = files.upload()

Saving train.csv to train (1).csv

In [28]:
import io
titanic_data = pd.read_csv(io.BytesIO(uploaded['train.csv']))

In [29]:
titanic_data.head(7)

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S
5            6         0       3  ...   8.4583   NaN         Q
6            7         0       1  ...  51.8625   E46         S

[7 rows x 12 columns]

In [30]:
#dropping irrelevant columns
titanic_data.drop(["PassengerId","Name","SibSp" , "Parch" , "Ticket" , "Cabin" , "Embarked" ], axis = 'columns' , inplace = True)
titanic_data.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [31]:
target = titanic_data.Survived
target.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [41]:
inputs = titanic_data.drop(["Survived"] ,axis = "columns") 
inputs.head()

# if you want to permanently drop the column , ie delete it from the data set , then only you use "inplace = true " , else you dont like here i didnt juse inplace = true ,
# as i only wanted all the columns except the survived one

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

In [42]:
dummies = pd.get_dummies(inputs.Sex)
dummies.head(4)

   female  male
0       0     1
1       1     0
2       1     0
3       1     0

In [43]:
inputs = pd.concat([inputs , dummies] , axis = 'columns')
inputs.head()

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0
3       1  female  35.0  53.1000       1     0
4       3    male  35.0   8.0500       0     1

In [45]:
inputs.drop(["Sex"] , axis = 'columns' , inplace = Tru

KeyError: ignored

In [47]:
inputs.head(20)

    Pclass   Age     Fare  female  male
0        3  22.0   7.2500       0     1
1        1  38.0  71.2833       1     0
2        3  26.0   7.9250       1     0
3        1  35.0  53.1000       1     0
4        3  35.0   8.0500       0     1
5        3   NaN   8.4583       0     1
6        1  54.0  51.8625       0     1
7        3   2.0  21.0750       0     1
8        3  27.0  11.1333       1     0
9        2  14.0  30.0708       1     0
10       3   4.0  16.7000       1     0
11       1  58.0  26.5500       1     0
12       3  20.0   8.0500       0     1
13       3  39.0  31.2750       0     1
14       3  14.0   7.8542       1     0
15       2  55.0  16.0000       1     0
16       3   2.0  29.1250       0     1
17       2   NaN  13.0000       0     1
18       3  31.0  18.0000       1     0
19       3   NaN   7.2250       1     0

In [51]:
# now i noticed that age has some "nan" values , so we neeed to do something 
# so according to the codebasics Naive bayes part 1 video , popularly we take the mean of the column and replace those NaN entries with the mean 

inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs.head(6)

   Pclass        Age     Fare  female  male
0       3  22.000000   7.2500       0     1
1       1  38.000000  71.2833       1     0
2       3  26.000000   7.9250       1     0
3       1  35.000000  53.1000       1     0
4       3  35.000000   8.0500       0     1
5       3  29.699118   8.4583       0     1

In [59]:
# now we'll do machine learning 
from sklearn.model_selection import train_test_split
X_train , X_test , y_train , y_test = train_test_split(inputs , target , test_size = 0.2)

In [60]:
from sklearn.naive_bayes import GaussianNB
model =  GaussianNB()
model.fit(X_train , y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [62]:
model.score(X_test,y_test)

0.7821229050279329